
Body { background: #00FF99; }

nav { background: #888888; text-align: center; }

hr { border-color: #00FF99; margin: 3px 10px 7px 10px; }

table { border-collapse: collapse; }

#header-text { font-size: 36px; }

#header-phrase { font-size: 16px; 
                 color: #AAAAAA; 
                 padding-top: 16px; }

#github-button:hover { color: #00C654; }

#youtube-button:hover { color: #E52D27; }

#twitter-button:hover { color: #4099FF; }

#error { background: #FFFFAA; color: #DD3300; }

#project-table { background: #FFFFFF; border-radius: 6px; text-align: center; }

#project-table td { border: 3px dashed #00FF99; }

#project-table tr:first-child td { border-top: 0px; }

#project-table tr:last-child td { border-bottom: 0px; }

#project-table tr td:first-child { border-left: 0px; }

#project-table tr td:last-child { border-left: 0px; }

#project-table-header { border-bottom: 3px dashed #00FF99; font-size: 24px; font-family: courier; }

#project-element { border-top: 3px dashed #00FF99; padding: 5px; }

#project-title { font-size: 20px; }

#project-rating { font-size: 30px; }

.jumbotron { padding-top: 4px; padding-bottom: 10px; }

.fa { font-size: 18px; }

.navbar { background: #F0F0F0; }

.blog-header { font-size: 26px; }

.blog-body { margin-bottom: 5px; text-align: left; }

.blog-footer { text-align: right; color: #999999; }

.blog-post { background: #FFFFFF; }

.blog-post { 
  Padding: 10px;
  margin: 0px;
  margin-bottom: 5px;
  border-radius: 6px;
}

.twitter-container li { margin: 10px; }

.twitter-container { background: #FFFFFF; border-radius: 6px; }

.frameCont { border-radius: 100px; }

